* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: sans-serif;
}
html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 15px;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}
a.navbar-brand {
  font-size: 18.5px;
  font-weight: 300;
  padding-right: 8px;
}
#p-name {
  font-weight: bold;
  font-size: 21px;
  margin-left: 10px;
  padding-right: 10px;
}
h1,
h2,
h3 {
  width: fit-content;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
table {
  text-align: center;
}
.table.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}
thead {
  font-size: larger;
}
th {
  padding: 0.5em;
  font-weight: 300;
  vertical-align: middle;
}
.border-bottom {
  color: gray;
}
.ProcTableHead {
  font-size: 16px;
  text-align: center;
}
.table.table.processT {
  width: 96%;
}
.table.table.processT td {
  padding: 0.5em;
  font-size: 14px;
  vertical-align: middle;
}

.name {
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
  width: 140px;
}
.dropdown-left {
  position: relative;
}

.dropdown-left:hover .dropdown-dlls {
  display: list-item;
  position: absolute;
  top: 0;
  left: -370px;
  z-index: 1;
  overflow-y: scroll;
}
.dropdown-dlls {
  width: 400px;
  word-wrap: break-word;
  max-height: 300px;
  display: none;
  background-color: gray;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px;
  padding-left: 12px;
  padding-right: 12px;
}
