* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: sans-serif;
}
html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 15px;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  width: fit-content;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
table {
  text-align: center;
}
.table.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
thead {
  font-size: larger;
}
th {
  padding: 0.5em;
  font-weight: 400;
}
a.navbar-brand {
  font-size: 18.5px;
  font-weight: 300;
  padding-right: 8px;
}
#p-name {
  font-weight: bold;
  font-size: 21px;
  margin-left: 10px;
  padding-right: 10px;
}
.border-bottom {
  color: gray;
}
.icon {
  vertical-align: bottom;
}
.ddt {
  margin-left: -50px;
}
